@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body{
  background-color: #000300;
}